body {
  margin: auto;
  font-family:  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-image: url(../assets/24.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.route-container .nav a
{
  text-decoration: none;
  color: antiquewhite;


}
.route-container .nav{
  width: 100%;
}
.route-container .nav a svg{
  height: 50px;
  width:50px;
  margin-left: 20%;

}

.route-container .nav a:hover{
  color:blueviolet;  

}